// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
	margin: 0px 0 10px 0;
}

.tasks {
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
}

.taskitem {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: solid 1px #ccc;
}

#newtask {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.small {
	padding: 5px;
	border-radius: 5px;
}

